header {
    font-family: Helvetica;
    padding: 0.3em;
    text-align: right;
    font-size: 1.7em;
    background-color: #383838;
    color: #fcfcfc;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header ul {
    margin: 0;
}

header ul li {
    margin-right: 1em;
    list-style: none;
    display: inline;
}

header a {
    font-size: 1.0em;
    text-decoration: none;
    color: #fcfcfc;
}

header a:hover {
    text-decoration: underline !important;
}
